h2{
  color:black;
  font-family: 'Open Sans', sans-serif;
  font-size:2em;
  font-style:italic;
  margin-top:0;
  text-align:center;
}
h3{
  color:#e5f553;
  font-family: 'Satisfy', cursive;
  font-size:1.8em;
  font-style:normal;
  margin-top:0;
  text-align:center;
}

p{
  color:white;
  font-family: 'David Libre', serif;
  font-size:1.8em;
  font-style:normal;
  margin-top:0;
  text-align:center;
}
#container{
  width: 95%;
  background-color:#2694FF;
  margin: 0 auto;
}

a:link, a:visited{
  color: #f5ac53;
}

#nav li{
  list-style-type:none;
  float:left;
  margin:0;
  padding:0;
  width:25%;
}
#nav a:link, a:visited {
  display: block;
  color: #f5ac53;
  background-color: #3049E8;
  font-weight: bold;
  text-align:center;
  text-decoration:none;
  padding:4px;
  font-family:'Open Sans', sans-serif;
}

#nav a:hover, a:active {
  background-color:#2694FF;
}

#nav {
  padding:0;
}
img{
  border-style:none;
  width:400px;
}

#image{
  margin:0 auto;
}

a{
  text-decoration:none;
}
