.navigation{
  list-style:none;
  margin:0;
  background:gray;
  padding:0;
  display:flex;
  flex-flow:column;
}

.navigation a{
  text-decoration:none;
  display:block;
  padding:10px;
  color:white;
  text-align:center;
}

a:link, a:visited{
  color: #f5ac53;
}
a{color:white;
font-family: 'David Libre', serif;
font-size:1.8em;
font-style:normal;
margin-top:0;
text-align:center;
}

p{
  color:white;
  font-family: 'David Libre', serif;
  font-size:1.8em;
  font-style:normal;
  margin-top:0;
  text-align:center;
}

h2{
  color:black;
  font-family: 'Open Sans', sans-serif;
  font-size:2em;
  font-style:italic;
  margin-top:0;
  text-align:center;
}
h3{
  color:#e5f553;
  font-family: 'Satisfy', cursive;
  font-size:1.8em;
  font-style:normal;
  margin-top:0;
  text-align:center;
}

.header{
  background:lightyellow;
}
.footer{
  background:lightyellow;
}
.main{
  background:deepskyblue;
  text-align:left;
}
.aside-1{
  background:lightyellow;
}
.aside-2{
  background:lightyellow;
}

#container{
  width: 95%;
  background-color:#2694FF;
  margin: 0 auto;
}

img{
  width:100%;
}

@media all and (max-width:599px){
  .main2{
    display:none;
  }
}

@media all and (min-width:600px){
  .main{
    display:flex;
    flex-flow:row;
  }

  main{
    flex:1 auto;
    justify-content:flex-start;
  }

  p{
    text-align:left;
    padding:0 10px;
  }
  .navigation{
    flex-flow:row;
    justify-content:flex-end;
  }

  .nav h1{
    border:none;
    margin:5px;
    padding:10px;
    background:#009077;
  }

  .nav a:hover{
    background:#00806A;
    padding:5px 20px;
  }
  .main{
    display:flex;
    flex-flow:row;
  }

  img{
    width:50%;
    padding:10px;
    border:none;
    margin:0;
    flex:1 auto;
  }

  .main2 img{
    max-height:50%;
  }

  /*.summary{
    flex:1 auto;
  }

aside{
  flex:1 auto;
  padding:10px;
  }*/
}

body {
  background-color: #F8ECC2;
  font-family: Helvetica, Arial, sans-serif;
}

nav ul li {
  display:block;
  border-top:1px #79896D solid;
}

nav a {
  color:#f8ecc2;
  display:block;
  text-decoration:none;
  padding:20px 30px;
}

nav ul {
  display:none;

}
@media screen and (min-width:800px){
  nav ul{
    display:flex;
  }

  nav ul li{
    border-top:none;
  }

/*.menu-trigger {
  display:none;
}*/



}

@media all and (min-width:800px){

  .main{
    display:flex;
    flex-flow:column;
  }

h1{
    text-align:center;
    padding:0;
    margin-top:5px;
  }

  .navigation{
    flex-flow:row;
    justify-content:space-around;
    background:gray;
  }
}

@media (min-width:800px){
  /*.navigation{
    flex-flow:row;
    justify-content:flex-end;
  }*/
  .navigation a:hover{
    background:black;
  }







/*#nav li{
  list-style-type:none;
  float:left;
  margin:0;
  padding:0;
  width:25%;
}*/
/*#nav a:link, a:visited {
  display: block;
  color: #f5ac53;
  background-color: #3049E8;
  font-weight: bold;
  text-align:center;
  text-decoration:none;
  padding:4px;
  font-family:'Open Sans', sans-serif;
}

#nav a:hover, a:active {
  background-color:#2694FF;
}

#nav {
  padding:0;
}*/
img{
  border-style:none;
  width:50px;
}

#image{
  margin:0 auto;
}

a{
  text-decoration:none;
}
/*}
@media (min-width:800px){*/
  /*.navigation{
    flex-flow:row;
    justify-content:flex-end;
  }*/
  .navigation a:hover{
    background:black;
  }
.first{
  margin-right:auto;
}
  .aside-1{
    flex: 1 auto;
    padding:10px
  }
  .aside-2{
    flex: 1 auto;
    padding:10px
  }
.main{
  flex:3 0px;
  padding:10px
}




.wrapper{
  display:flex;
  flex-flow:row wrap;
  font-weight:bold;
  text-align:center;
}

.header, .main, .aside, .footer{
  flex:1 100%;
  padding:20px;
}
img{
  width:90%;
}
/*@media (min-width:800px){*/
.main{
    display:flex;
    flex-flow:row;
  }
img{
  border-style:none;
  width:50%;
  margin-right:10px;
}
}
